<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %> 

<!-- Content for the edit page -->

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-16">
            <h1><%= title %></h1>
            <form class="form" method="post">
                
                <div class="form-group">
                    <label for="nameTextField"> Assignment Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the assignment name"
                    name="name" 
                    vlaue="<%= assignment.Name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="courseTextField"> Course</label>
                    <input type="text" class="form-control"
                    id="courseTextField"
                    placeholder="Enter the course name"
                    name="course" 
                    vlaue="<%= assignment.Course %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="duedateTextField"> Due Date</label>
                    <input type="text" class="form-control"
                    id="duedateTextField"
                    placeholder="Enter the due date for the assignment"
                    name="due date" 
                    vlaue="<%= assignment.DueDate %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextField"> Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="Enter the description"
                    name="description" required>
                    <%= assignment.Description %>"
                    </textarea>
                </div>
                <br>

                <button class="btn-btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>

                <a href="/assignment-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i>Cancel</a>
            
            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %> 