<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %> 

<!--Main Content-->
<main>
  <!--<div class="jumbotron jumbotron-fluid">-->
  <div class="container">
    <!--<h1 class="display-4">Welcome to the <%= title %> page</h1>-->
    <div class="row">
    <div class="col-md-offset-3 col-md-14">
    <h1><%= title %></h1>
    <a href="/assignment-list/add" class="btn btn-primary" role="button">
      <i class="fas fa-plus-circle"></i> Add an assignment</a>
    <br>
    <br>
    <table class= "table table-bordered table-striped table-hover">
    <tr class="d-flex">
        <th class= "text-center col-2">Name</th>
        <th class= "text-center col-2">Course</th>
        <th class= "text-center col-1">DueDate</th>
        <th class= "text-center col-5">Description</th>
        <th class= "text-center col-1"></th>
        <th class= "text-center col-1"></th>
    </tr>
    <!-- Repeat the template -->
    <% for(let count=0; count < AssignmentList.length; count++){ %>
        <tr class="d-flex">
            <td class="text-center col-2"><%= AssignmentList[count].Name %></td>
            <td class="text-center col-2"><%= AssignmentList[count].Course %></td>
            <td class="text-center col-1"><%= AssignmentList[count].DueDate %></td>
            <td class="text-center col-5"><%= AssignmentList[count].Description %></td>
            <td class="text-center col-1">
              <a href="/assignment-list/edit/<%= AssignmentList[count]._id %>"
                class="btn btn-primary">
                <i class="fas fa-pencil-alt"></i> Edit </a>
            </td>
            <td class="text-center col-1">
              <a href="/assignment-list/delete/<%= AssignmentList[count]._id %>"
                class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Delete </a>
        </tr>
    <% } %>
    </table>
    </div>
  </div>
  </div>

  <% if (title=="Home") {%>
  <%- include ../pages/home_page.ejs %>
  <%}%>
  
</div>
</main>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>   